<main role="main">
        <div class="container py-3">
          <div class="row">
            <div class="col">
              <h1 class="h2" class="text-primary">Archive</h1>
              <ul>
                {% for post in site.posts %}
                  <li>
                    <span>{{ post.date | date: "%b %d, %Y" }}</span> -
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
    </main>