<section id="posts">
    <div class="container">
            {% for post in site.posts %}
                <div class="card mb-3" style="max-width: 620px;" >
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% if post.mainimageurl && post.mainimagealt %}
                                <img class="card-img" src="{{ site.baseurl }}{{ post.mainimageurl }}" alt="{{post.mainimagealt}}" />
                            {% else %}
                                <img class="card-img" src="{{ site.baseurl }}/img/default.png" alt="Default solid blue image" />
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div>
                                    <h2 class="h6 card-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                                    <p class="card-text">
                                        {% if post.summary %}
                                            {{ post.summary }}
                                        {% else %}
                                            {{ post.excerpt }}
                                        {% endif %} 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</section>